:root {
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

/* Neutral*/

--Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
--Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);

--Font-size: 15px;
}

section{
    width: 340px;
    background-color: var(--Bright-orange);
    height: 535px;
    margin: 160px;
}

h2{
    color: var(--Very-light-gray-background-headings-buttons);
    margin-left: 40px;
    text-align: justify;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    
    
}
p{
    color: var(--Transparent-white-paragraphs);
    margin:40px;
    font-size: 20px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    
}

button{
    background-color: var(--Very-light-gray-background-headings-buttons);
    color: var(--Bright-orange);
    border-radius: 40px;
    border: 5px solid var(--Very-light-gray-background-headings-buttons) ;
    border-color: var(--Very-light-gray-background-headings-buttons);
    padding: 10px 35px 15px 35px;
    text-align: center;
    margin-top: 60px;
    margin-left: 40px;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    
}

img{
    margin: 40px;
}